<table>
  <thead>
    <tr>
      <th>Task Id</th>
      <th>Title</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    @for (item of toDoQueue; track item.id) {
      <tr app-todo-item [toDo]="item" (deleteToDo)="handleDelete($event)"></tr>
    }
  </tbody>
</table>

<form>
  <input type="text" id="newToDo" name="newToDo" [(ngModel)] = "newToDo">
  <button type="submit" [disabled] = "!newToDo" (click)="addNewToDo(newToDo)">Add ToDo</button>
</form>

<p>Preview: {{ newToDo }}</p>


